
.personal-edit-view {
    display: grid;
    grid-template-areas:
            'header  header'
            'photo   form'
            'message message'
            '.       actions';
    grid-template-columns: 20vw auto;
    grid-gap: 10px;
}

.photo-container {
    grid-area: photo;
}

.form-container {
    grid-area: form;
}

.header-container {
    grid-area: header;
}

.actions-container {
    grid-area: actions;
}

.message-container {
    grid-area: message;
}

.user-photo {
    object-fit: cover;
    width: 100%;
}

.email-form-template {
    position: relative;
    transition: all 1s;
    opacity: 0;
    max-width: 30vh;
    margin: 15px 0;
}

.email-form--remove {
    position: absolute;
    right: -25px;
    top: -15px;
}

.input-container {
    max-width: 30vh;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

/* sample */
input:invalid  {
    border: 2px solid red;
}
